.experience-item {
  display: grid;
  grid-template-columns: 20% 40%;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.experience-item p {
  border-left: 5px solid var(--filler-color);
  font-size: 1em;
  color: var(--filler-color);
  font-family: var(--filler-font);
  background-color: var(--main-color);
}

.experience-item h4 {
  font-size: 1.5em;
  text-align: right;
  margin-right: 3rem;
  color: var(--accent-color);
  font-family: var(--roboto);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media all and (max-width: 900px) {
  .experience-item {
    grid-template-columns: 40% 60%;
  }
}

@media all and (max-width: 550px) {
  .experience-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
  }

  .experience-item h4 {
    text-align: left;
    margin-left: 1rem;
  }
}
