.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
}

.hero-main {
  text-align: center;
  z-index: 0;
  padding: 2rem;
}

.hero-main h1 {
  font-size: 10rem;
}

.hero-main h2 {
  color: var(--filler-color);
  font-family: var(--filler-font);
}

.hero-main button {
  padding: 1.25rem 5rem;
  font-size: 1.65em;
  background-color: var(--accent-color);
  outline: none;
  border: 0;
  color: var(--main-color);
  margin-top: 1.5rem;
  font-family: var(--roboto);
}

@media all and (max-width: 480px) {
  .hero-main h1 {
    font-size: 3.25rem;
  }

  .hero-main h2 {
    font-size: 0.75rem;
  }

  .hero-main button {
    padding: 0.5rem 2.5rem;
    font-size: 1.25rem;
  }
}
