.about {
  padding-top: 25vh;
}

.about-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.about-right {
  align-self: flex-start;
  width: 16em;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left {
  width: 40%;
  background-color: var(--accent-color);
  color: white;
  padding: 2.25rem;
  align-self: flex-start;
  font-size: 1.5em;
}

.about-left h3 {
  font-size: 2em;
  font-family: var(--roboto);
}

.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.socials div {
  margin-right: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .about-right {
    display: none;
  }
  .about-left {
    width: 85vw;
    font-size: 1rem;
  }
}
