.project-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--filler-color);
  border: 11px solid var(--filler-color);
  height: auto;
}

.project-item a img {
  height: 15em;
  object-fit: contain;
  object-position: top;
}

.project-item article {
  padding: 0.5em;
}

.project-item article h4 {
  font-size: 2rem;
}

.project-item article p {
  font-size: 1.25rem;
  font-family: var(--filler-font);
  color: var(--main-color);
}

.project-item article button {
  margin-top: 1rem;
  font-family: var(--filler-font);
  letter-spacing: 0.1rem;
  font-weight: bolder;
  padding: 0.5em 2em;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--accent-color);
  font-size: 1rem;
  border: 2px solid var(--main-color);
  transition: 0.05s;
}

.project-item article button:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .project-item {
    flex-direction: column;
  }
}
