.projects {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h2 {
  font-size: 3.5em;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.project-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .project-section {
    display: grid;
    grid-template-columns: repeat(2, 40%);
  }
}

@media screen and (max-width: 480px) {
  .projects h2 {
    font-size: 2rem;
    padding: 0 2rem;
  }
  .project-section {
    display: grid;
    grid-template-columns: 80%;
  }
}
