@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200;400&family=Roboto+Slab&display=swap");

:root {
  --roboto: "Roboto", sans-serif;
  --filler-font: "Roboto Mono", monospace;
  --main-font: "Roboto Slab", serif;

  --main-color: #e6e6dc;
  --filler-color: #00628b;
  --accent-color: #81a594;
}
