.footer {
  margin-top: 10vh;
  background-color: #c7c7ae;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer h4 {
  font-size: 2em;
}

.socials {
  display: flex;
  gap: 0.5rem;
}

.pages {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  font-size: 1.25em;
}

.pages a {
  color: grey;
  text-decoration: none;
}

.pages a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .pages {
    font-size: 1rem;
    gap: 1.25rem;
  }
}
